<div>
  <div class="logo">
    <p><span>i</span>Budget</p>
  </div>

  <div class="home-btns">
    <%= button_to "Sign in", new_user_session_path, method: :get, class: "btn" %>
    <%= button_to "Sign up", new_user_registration_path, method: :get, class: "btn" %>
  </div>
</div>
