<div class="home">
  <div class="logo">
    <p><span class="i-logo">i</span>Budget</p>
  </div>

  <div class="home-btns">
    <%= button_to "LOG IN", new_user_session_path, method: :get, class: "btn" %>
    <%= button_to "SIGN UP", new_user_registration_path, method: :get, class: "btn" %>
  </div>
</div>
