
<h1>Transactions</h1>
<div>
  <div>
    <div>Total Amount: $<%= @total %></div>
  </div>
  <div id="items">
    <% @items.each do |item| %>
    <%#= item.name %>
    <p>
      <%= item.item.name %>: $<%= item.item.amount %>
    </p>
  </div>
    
  <% end %>
</div>


