.categories-each {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0 0 7px 1px rgba(46, 46, 48, 0.61);
  padding: 1em;
  margin: 1em 0;
}

.category-head {
  text-align: center !important;
}

.category-name {
  text-decoration: none;
}

.cat-btn {
  background-color: #5fb523 !important;
  font-size: 1em;
  border-radius: 1px !important;
  margin-top: 3em;
}

.icon {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  border: 1px solid #3778c277;
  /* padding: 0.2em; */
  
}

.icon-image {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}